.backToCards {
    background-color: transparent;
    border: none;
    margin: 15px 8px;
    cursor: pointer;

}

.backToCards:hover {
    /* color: #ff4500; */
    color: #ff4500d9;

}

.product-detail-box span {


    color: #000000b5;
    font-style: italic;
    font-size: 22px;
}